<div id="i-books-left-column">
    <nav id="i-books-left-column-nav">
        <ul>
            <% bookLinks.forEach(link=>{ %>
                <a href="/books/<%=link.split(' ')[0]%>" >
                    <div class="i-books-left-column-nav-div"><%=link.toUpperCase()%></div>
                </a>
            <%});%>
            <% synopsisLinks.forEach(link=>{ %>
                <a href="/synopsis/<%=link.split(' ')[0]%>">
                    <div class="i-books-left-column-nav-div"><%=link.toUpperCase()%></div>
                </a>
            <%});%>
        </ul>
    </nav>
</div>