<%- include('../partials/header.ejs') %>
    <div id="books-body">
        <%- include('../partials/book-show-title.ejs',
            {image:book.image, title:book.title, author:book.author}) %>

        <div class="books-grid-container">
            <%- include('../partials/left-navbar.ejs',{synopses: false}) %>

            <!-- Once have a rating system, only show the top synopsis as the main body -->
        </div>
    </div>
<%- include('../partials/footer.ejs') %>