<!-- Shows the book, title and author on the show pages for books and synopsis -->
<div id="books-title-container">
    <img id="books-book-image" src="<%=image%>" alt="">
    <div id="books-title">
        <h2><%=title%></h2>
        <h2><%=author%></h2>
    </div>
</div>