<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- HEADER -->
    <link rel="stylesheet" href="/stylesheets/header.css">

    <!-- BOOKS -->
    <link rel="stylesheet" href="/stylesheets/books/index.css">
    <link rel="stylesheet" href="/stylesheets/books/show.css">
    <!-- <link rel="stylesheet" href="/stylesheets/books/new.css"> -->



    <!-- CDN -->
    <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">

    <title>SynopC</title>
</head>
<body>
    <div id="title-header">
        <div id="header-word-title">Synop<span>C</span></div>
        <div id="title-header-background"></div>
    </div>
    <nav id="navigation-bar">
        <!-- Shows up when page width less than 635px -->
        <div id="fold-down-menu-icon-nav"><i class="fa fa-bars"></i></div>
        <div id="nav-bar-items">
            <a href="/books"><div class="nav-link">BOOKS</div></a>
            <a><div class="nav-link">TRADE</div></a>
            <a><div class="nav-link">REVIEW</div></a>
            <a href="/synopsis"><div style="padding-right:0;" class="nav-link">SYNOPSIS</div></a>
        </div>
    </nav>