<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>SynopC</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cookie|Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>
    <div id="landing-page-container">
        <div id="landing-main-header">
            <div id="landing-title">Synop<span>C</span></div>
            <p id="landing-description"><i>Describing books with fewest words possible...</i></p>
        </div>
        <div id="landing-buttons-container">
            <a href="/login"><button>LOGIN</button></a>
            <a href="/register"><button>REGISTER</button></a>
            <a href="/books"><button>EXPLORE</button></a>
        </div>
    </div>

</body>
</html>