#search-page-container{
    display: flex;
    justify-content: center;
    /* Had to do this since flex-wrap wasnt working */
    flex-direction: column;
    align-items: center;
}

h2{
    text-transform: uppercase;
}
/******************************** SEARCH FORM *********************************/
#search-form-container{
    display: flex;
    justify-content: center;
    /* Had to do this since flex-wrap wasnt working */
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px
}

input:focus{
    /* Remove highlight border when inputting */
    outline: none;
}

#search-form-input{
    border: 2px solid rgba(117, 19, 93, 0.73);
    padding: 4px;
    font-size: 15px;
    height: 20px;
    width: 200px;
    /* float-left so button overlaps with searchbar */
    float: left;

}
#search-form-submit-button{
    border: 1px solid rgba(117, 19, 93, 0.73);
    background-color:rgba(117, 19, 93, 0.73);
    color: white;
    height: 32px;
    width: 50px;
    text-align: center;
}

button:hover{
    filter: brightness(125%)
}

/******************************* SEARCH RESULTS *******************************/

#search-results-container a{
    text-decoration: none;
    color: white;
}

.search-result-instance{
    padding: 20px;
    margin: 20px 0;
    background-color:rgba(117, 19, 93, 0.73);
    width: 300px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.search-book-text-column{
    grid-column: 2/3;
}

.search-book-image-column{
    grid-column: 1/2;

}

.search-book-title{
    margin-bottom: 20px;
}
.search-book-image{
    width: 40px;
}

/* Hide the search instance then show if matches query */
.search-instance-hidden{
    display: none;
}

/* So no clicks occur */
.no-click {pointer-events: none;}
