#fold-down-menu-icon{
    display: none;
}
#books-previews-synopsis-author{
    z-index: 1000;
}

.edit-delete-buttons{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
    color: white;
    height: 25px;
    
}    
.edit-delete-buttons input,a{
    all:unset;
    background-color: rgb(43, 19, 43);
    
    margin: 0;
     text-decoration: inherit;
    color: inherit;
    cursor: auto;
  

}
.edit-delete-buttons input{
    padding: 5px 10px;
}
/******************************* IPAD/ MOBILE ********************************/
@media(max-width: 635px){

    #books-title-container{
        /* Reverse the book to the right and text to left so can fit sandwich dropdown */
        flex-direction: row-reverse;
    }
    #books-title{
        margin-right: 20px;
        /* Need font size to flex with screen width */
        font-size: 2.5vw;
    }
    #books-book-image{
        width: 19vw;
    }
    #books-previews-nav-container{
        display: block;
        height: auto;
    }
    #i-books-left-column{
        /* Dont display the left margin */
        display: none;
        z-index: 1;
        
    }
    #books-previews-container{
        width: 100%;
    }
    #fold-down-menu{

    }
    /* Sandwich fold down menu appears */
    #fold-down-menu-icon{
        display: block;
        position: absolute;
        align-self: flex-end;
        margin-top: 60px;
        left:0;
        padding: 10px;
        
        background-color: rgb(166, 170, 190);

    }
    #fold-down-menu-icon:hover{
        filter: brightness(125%);
        
    }
}