#synopsis-body{
    width: 100%;
    height: 100%;
}

/************************** SYNOPSES PREVIEWS *********************************/

#synopsis-previews-nav-container{
    display: grid;
    grid-template-columns: 30% 70%;
}
#synopsis-previews-container{
    /* Full container containing all the synopsis for the books */
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#synopsis-preview-left-column{
    grid: 1/2;
    height: 100%;
    width: 100%;
}

#synopsis-preview{
    grid: 2/3;
    height: 100px;
    display: grid;
    grid-template-columns: 110px 75%;

    margin-bottom: 10px;
    margin-top: 10px;;
    
    

}
#synopsis-preview-user-icon{
    font-size: 12px;
    grid: 1/2;
    padding: 10px;
    background-color: rgb(71, 169, 143);
    border: 1px solid rgb(60, 143, 121);

}

#synopsis-preview-text{
    grid: 2/3;
    padding: 10px;
    background-color: rgb(161, 232, 213);
    border: 1px solid rgb(60, 143, 121);
}

@media(max-width: 635px){

    #synopsis-previews-container{
        position: absolute;
        width: 100%;
    }
}


#current-synopsis-container{
    padding-top: 20px;
}

#synopsis-title{
    font-size: small;
    padding-bottom: 20px;
    
}

#synopsis-body{
    padding-bottom: 40px;
}
.edit-delete-buttons{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
    color: white;
    
}    
.edit-delete-buttons input,a{
    all:unset;
    background-color: rgb(43, 19, 43);
    
    margin: 0;
     text-decoration: inherit;
    color: inherit;
    cursor: auto;
  

}
.edit-delete-buttons input{
    padding: 5px 10px;
}
